*{
    background-color: black;
}
.h1{
    background-color: rgb(48, 48, 48);
    color: rgb(255, 125, 125);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(255, 73, 73);
}
.h2{
    text-align: right;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(50, 50, 50);
}
.p1{
    background-color: gray;
    color: white;
    text-shadow: 2px 2px 3px rgb(50, 50, 50);
    font-weight: bold;
}
.list{
    font-size: 30px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px gray;
}
.list li::before{
    content: "✅";
    margin-right: 10px;
}
.list li{
    margin-bottom: 10px;
}
.hover1{
    width: 200px;
    height: 100px;
    color: white;
    font-weight: bold;
    background-color: darkgray;
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    transition: background-color 0.3s ease;
}
.hover1:hover{
    text-align: center;
    background-color: rgb(255, 0, 0);
}
    